html, body {
    font-family: 'montserrat', sans-serif;
}


main, footer {
    padding-left: 240px;
}

@media only screen and (max-width : 992px) {
    main, footer {
        padding-left: 0;
    }
}

p {
    font-family: 'montserratlight', sans-serif;
    color: #989898;
    line-height: 1.5;
    padding: 15px 0;
}

nav {
    box-shadow: none;
    background-color: #D1D1D1;
}

nav .brand-logo {
    position: static;
    margin-left: 20px;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
}

nav .brand-logo img {
    height: 24px;
}

nav .google-profile {
    float: right;
    margin-right: 20px;
}

nav .google-profile a {
    color: #0b4d68;
}

.side-nav {
    top: 56px;
    box-shadow: none;
    border-right: 1px solid #d1d1d1;
}

.side-nav a.active {
    background-color: rgba(0,0,0,0.05);
}

#login {
    position: fixed;
    top: 56px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1200;
    background-color: white;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

.logged-in #login {
    display: none;
}

.login-wrapper {
    display: inline-block;
    width: 280px;
    padding: 20px;
    margin-top: 15vh;
}

.login-wrapper .progress {
    display: none;
    margin: 0px 0px;
    height: 50px;
    background-color: #8FD2FF;
    border-radius: 0px;
}

.login-wrapper .progress p {
    color: white;
    position: relative;
    font-weight: bold;
}

.login-wrapper .progress .indeterminate {
    background-color: #4285f4;
}

#g-signin {
    display: inline-block;
}

.loading #g-signin {
    display: none;
}

.loading .login-wrapper .progress {
    display: block;
}

.app-pane {
    position: absolute;
    top: 56px;
    left: 0px;
    right: 0px;
    display: none;
    background-color: white;
}

.app-pane.active {
    display: block;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    border: 2px solid;
    border-color: #D1D1D1;
    border-radius: 4px;
    box-sizing: border-box;
    height: auto;
    padding: 15px;
    font-size: 15px;
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 2px solid;
    border-color: #D1D1D1;
    box-shadow: none;
}

input::-webkit-input-placeholder {
    color: #989898;
}

input:-moz-placeholder {
    color: #989898;
}

input::-moz-placeholder {
    color: #989898;
}

input:-ms-input-placeholder {
    color: #989898;
}

.btn-large {
    font-size: 15px;
    height: 52px;
    line-height: 52px;
}

@media only screen and (min-width: 601px) {
    .side-nav, .app-pane, #login {
        top: 64px;
    }
}

@media only screen and (min-width: 993px) {
    .app-pane {
        left: 240px;
    }
}